<div class='border border-blue-300 rounded-lg' id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= user.email %>
  </p>
</div>
